.main-dev {
  overflow: scroll;
}

.main-dev::-webkit-scrollbar {
  width: 0;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
